@import '../../../styles/vars';

.auth {
  height: 100%;
  background: $secondary-orange;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
  min-height: 300px;

  &__btn {
    height: 50px;
    width: 160px;
    font-size: 15px;
    background: #564FD8;
    padding: 0;
    border: none;
    border-radius: 5px;
    color: inherit;
    &:hover{
      cursor: pointer;
      transition: 0.5s;
      box-shadow: 0 0 11px rgba(33,33,33,.5); 
    }

    @media only screen and (max-width: 415px) {
      height: 45px;
      width: 140px;
      font-size: 14px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    text-align: center;
    
    @media only screen and (max-width: 415px) {
      font-size: 27px;
    }
  }

  h1 > svg {
    color: #39383D;
  }
}